// Place all the styles related to the Tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.star{
	font-size: 200%;
	color: gray;
	cursor: pointer;
}
.star.selected{
	color: orange;
}
path {
	stroke: #58CA6A;
	stroke-width: 2;
	fill: none;
}

.axis {
  shape-rendering: crispEdges;
}
.x.axis line {
  stroke: lightgrey;
}
.x.axis .minor {
  stroke-opacity: .5;
}
.x.axis path {
 stroke: #000; 
}
.x.axis text{

}
.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
circle {
  fill: #58CA6A;
  r: 4;
}
pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

img {
	max-width: 100%;
}

@font-face {
  font-family: 'icomoon';
  src:font-url('icomoon.eot?u6y38i');
  src:font-url('icomoon.eot?u6y38i#iefix') format('embedded-opentype'),
    font-url('icomoon.svg?u6y38i#icomoon') format('svg'),
    font-url('icomoon.woff?u6y38i') format('woff'),
    font-url('icomoon.ttf?u6y38i') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.icon-star:before {
    content: "\e9d9";
}
.icon-star{
	font-family: 'icomoon';
}
input[type='checkbox']{
	cursor: pointer;
	display: inline-block;
	width: 16px;
	height: 16px;
}
input[type='radio']{
	cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
}

